@model MVCApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Welcome to Simhopp Europe";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section class="w3l-hotair-form">
    <h1>@ViewBag.Title</h1>
    <div class="container">

        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <h2>Register</h2>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <hr />

                        <div class="form-group">
                            <h4> @Html.LabelFor(m => m.Email, new { @class = "glyphicon glyphicon-user col-md-offset-0 col-md-10" })</h4>
                            <br />
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                             <br />
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h4> @Html.LabelFor(m => m.Password, new { @class = "glyphicon glyphicon-lock col-md-offset-0 col-md-10" })</h4>
                            <br />
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h4> @Html.LabelFor(m => m.ConfirmPassword, new { @class = "glyphicon glyphicon-repeat, glyphicon glyphicon-lock col-md-offset-0 col-md-10" })</h4>
                            <br />
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br /> <br />
                        <div class="form-group">
                            <div class="col-md-offset-0 col-md-12">
                                <button class="btn" type="submit">Register</button>
                                <p class="account">Already a member? <a href="Register">@Html.ActionLink("Login", "Login")</a></p>
                            </div>
                        </div>
                    }
                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="/images/1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@