@model IEnumerable<MVCApp.Models.Dive>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<div style="text-align:center"><h1>Index</h1> 

<p><br />
  @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Competition1.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Diver)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DiveCode13.DiveGroup)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DiveCode23.DiveGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiveCode3)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DiveCode4)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DiveChar53.BodyPosition)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.PlatformsHeight3.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DifficultyScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Competition3.Name)
    <td>
        @Html.DisplayFor(modelItem => item.Diver)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiveCode13.DiveGroup)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiveCode23.DiveGroup)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DiveCode3)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiveCode4)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DiveChar53.BodyPosition)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.PlatformsHeight3.Height)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DifficultyScore)
    </td>
    <td>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.DiveID })
            <p>--</p>
            @Html.ActionLink("Delete", "Delete", new { id = item.DiveID })
          
        }
        @if (User.IsInRole("Judge"))
        {
            <p>--</p>
            @Html.ActionLink(
                    linkText: "Add Score",
                    actionName: "Create",
                    controllerName: "Scores",
                    routeValues: new
                    {
                        Dive = item.DiveID
                    },
                    htmlAttributes: null
                )
        }

    </td>
</tr>
    }

    <br />
    <br />
</table>
<br />
<br /> 